table.oas {
    border-collapse: collapse;
    background-color: white;
    white-space: nowrap;
    text-align: center;
    margin: 15px;
}

table.oas tbody, table.oas colgroup {
    border: 3px solid black;
}

table.oas tbody.content tr th {
    border: 1px solid black;
    padding: 2px 4px;
    text-align: left;
}

table.oas tbody tr th, table.oas tbody tr td {
    border: 1px solid black;
    min-width: 20px;
}

/* Need to apply stickiness to the complete tbody.header, not individual ths, so the whole trio of rows stays put
vertically.
 */
table.oas tbody.header {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: white;
}

/* Can't use stickiness to constrain tbody.header on left because the element fills the viewport so has to move left.
So we need to make the th sticky too and constrain it on the left.
This rule also applies to the regular ths in the body.
 */
table.oas tbody.header tr th:first-child, table.oas tbody.content tr th {
    position: sticky;
    left: 0;
    background-color: white;
}

table.oas tbody tr td.completed {
    background-color: rgb(183, 200, 123);
}

table.oas tbody tr td.all-completed {
    background-color: rgb(152, 175, 72);  /* based on var(--color-background-divider); */
}

table.oas tbody tr td.sole-remaining {
    outline: solid 5px rgb(76, 146, 186);
    outline-offset: -5px;
}