div#oas-summary div.page-content {
    cursor: default;
}

div#oas-summary div.page-content a {
    cursor: pointer;
}

div#oas-summary div.page-content table {
    border-collapse: collapse;
    background-color: white;
    white-space: nowrap;
    text-align: center;
    margin: 15px;
}

div#oas-summary div.page-content table tbody, div#oas-summary div.page-content table colgroup {
    border: 3px solid black;
}

div#oas-summary div.page-content table tbody.content tr th {
    padding: 2px 4px;
    text-align: left;
}

div#oas-summary div.page-content table tbody tr th, div#oas-summary div.page-content table tbody tr td {
    border: 1px solid black;
    min-width: 20px;
}

/* Need to apply stickiness to the complete tbody.header, not individual ths, so the whole trio of rows stays put
vertically.
 */
div#oas-summary div.page-content table tbody.header {
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: white;
}

/* Can't use stickiness to constrain tbody.header on left because the element fills the viewport so has to move left.
So we need to make the th sticky too and constrain it on the left.
This rule also applies to the regular ths in the body.
 */
div#oas-summary div.page-content table tbody.header tr:first-child th:first-child, div#oas-summary div.page-content table tbody.content tr th {
    position: sticky;
    left: 0;
    background-color: white;
}

div#oas-summary div.page-content .completed {
    background-color: rgb(183, 200, 123);
}

div#oas-summary div.page-content .all-completed {
    background-color: rgb(152, 175, 72);  /* based on var(--color-background-divider); */
}

div#oas-summary div.page-content .sole-remaining {
    outline: solid 5px rgb(76, 146, 186);
    outline-offset: -5px;
}

div#oas-summary-legend {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    /* To appear in front of header */
    z-index: 1001;
}

div#oas-summary-legend div.mask {
    position: absolute;
    background-color: black;
    opacity: 70%;
    width: 100%;
    height: 100%;
}

div#oas-summary-legend div.inner {
    position: relative;
    margin: auto;
    width: 700px;
    padding: 20px;
    border: 2px solid black;
    text-wrap: wrap;
    text-align: left;
    background-color: white;
}

div#oas-summary-legend div.inner p {
    padding-bottom: 20px;
}

div#oas-summary-legend table tbody tr td {
    text-align: left;
}

div#oas-summary-legend table tbody tr th, div#oas-summary-legend table tbody tr td {
    padding: 2px 4px;
}

div#oas-summary-legend table tbody tr th div {
    width: 20px;
    height: 20px;
    margin: auto;
}

div#oas-summary-legend a {
    display: block;
    text-align: right;
    padding-bottom: 20px;
}
