table.oas {
    border-collapse: collapse;
    background-color: white;
}

table.oas tbody, table.oas colgroup {
    border: 3px solid black;
}

table.oas tbody tr td {
    border: 1px solid black;
    white-space: nowrap;
    min-width: 20px;
    text-align: center;
}

table.oas tbody tr td:first-child {
    text-align: left;
}

table.oas tbody tr td.completed {
    background-color: rgb(215, 227, 200);
}

table.oas tbody tr td.all-completed {
    background-color: rgb(190, 210, 170);
}

table.oas tbody tr td.sole-remaining {
    background-color: rgb(76, 146, 186);
}